* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    140deg,
    rgba(64, 182, 204, 0.9) 0%,
    rgba(64, 182, 204, 0.4) 50%,
    rgba(192, 222, 64, 0.3) 100%
  );
}

html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.nav {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 80px;

  .logo {
    position: relative;
    width: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

    .portal {
      position: absolute;
      left: 50%;
      top: -70px;
      width: 130px;
      animation: portalIn 6s forwards;
      animation-delay: 1s;
      transform: translateX(-50%) rotate(90deg) scale(0);
    }
    .title {
      width: 90%;
      max-width: 450px;
      margin: 0;
      cursor: pointer;
      animation: logoIn 5s forwards;
      animation-delay: 2s;
      opacity: 0;
      transform: translateY(-350px) scale(0);
    }

    @keyframes portalIn {
      0% {
        transform: translateX(-50%) rotate(90deg) scale(0);
      }
      20% {
        transform: translateX(-50%) rotate(90deg) scale(1);
      }
      80% {
        transform: translateX(-50%) rotate(90deg) scale(1);
      }
      100% {
        transform: translateX(-50%) rotate(90deg) scale(0);
        display: none;
      }
    }

    @keyframes logoIn {
      0% {
        opacity: 0;
        transform: scale(0) translateY(-350px);
      }
      100% {
        opacity: 1;
        transform: scale(1) translateY(0);
      }
    }
  }

  form {
    width: 600px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px #0000003b;

    input {
      flex-grow: 1;
      font-size: 22px;
      height: 60px;
      padding: 15px 20px;
      box-sizing: border-box;
      border: none;
      outline: none;
    }

    button {
      width: 150px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      border: none;
      box-sizing: border-box;
      background: #006572;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #003037;
      }
    }
  }
}

h1 {
  color: #c0de40;
  font-family: "Roboto Slab", serif;
  font-size: 70px;
  margin: 30px auto;
  width: 100%;
  text-align: center;
}

h3,
h2 {
  color: #1a1a1a;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  margin: 0 auto 20px auto;
  width: 100%;
  text-align: center;
}

.main_page {
  width: 100%;

  .section {
    width: 100%;
    margin-bottom: 100px;

    .characters {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      .character {
        width: 20%;
        flex: 0 0 20%;
        padding: 15px;
        box-sizing: border-box;

        .char_con {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          text-align: center;
          border-radius: 20px;
          overflow: hidden;
          background: #fff;
          padding: 0 0 20px 0;
          box-sizing: border-box;
          transition: all 0.2s ease-in-out;
          height: 100%;

          &:hover {
            box-shadow: 0 0 30px #c1de40c6;
          }

          img {
            width: 100%;
            font-size: 0;
            display: block;
          }

          h3 {
            font-family: "Bebas Neue", cursive;
            font-size: 28px;
            letter-spacing: 2px;
            margin: 15px 0 5px 0;
            flex-grow: 1;
          }

          p {
            font-size: 18px;
            line-height: 26px;
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            flex-grow: 1;
            padding: 0 10px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .card_shadow {
    width: 100%;
    min-height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ff7676;
    }
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    .detail {
      width: fit-content;
      min-width: 600px;
      border-radius: 20px;
      padding: 50px 30px;
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      .info {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
          font-size: 18px;
          line-height: 26px;
          font-family: "Raleway", sans-serif;
          font-weight: 600;
          flex-grow: 1;
          padding: 0 10px;
          box-sizing: border-box;
        }

        .img_con {
          width: 100%;
          overflow: hidden;
          margin-top: 20px;

          img {
            display: block;
            width: 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
}
